@charset "utf-8";
/* CSS Document */

/*-------------------------------------------------------------------------------------------*/
/* login */
#login_box {
	position:absolute;
	top: 50%;
	left: 50%;
	width:26em;
	height: auto;
	margin-top: -8em; /*16em;set to a negative number 1/2 of your height*/
	margin-left: -13em; /*set to a negative number 1/2 of your width*/
	border-radius:8px;
	border: 3px solid #F90;
	background-color: #f3f3f3;
}

#H0{
	background:url(../img/login.png) no-repeat left #F90;
	border-bottom:1px solid #F90;
	font-size:large;
	font-weight:bolder;
	color:#7F5F00;	
	padding:.5em;
	padding-left:5px;
	text-align:center;
	vertical-align:middle;
}
.box{
	position:absolute;
	background-color:#FFCB2D;
	border: 1px solid #7F5F00;
	font-size:100%;
	color:#7F5F00;	
	height:auto;
	width:26em;
	left:50%;
	padding-top:1em;
	padding-bottom:1em;
	text-align:left;
}

#login_form{
	padding:20px;
}

#login_form p label{
	display:block;
	float:left;
	width:90px;
}

#login_form p{
	margin-bottom:10px;
}

#submit{
	padding:0 4px;
	border:#666 solid 1px;
	margin-left:90px;
	width:60px;
	border-radius:3px;
	-moz-border-radius:3px;
}
#submit:hover{ cursor:pointer;
				background-color:highlight;
}
#login_box .field_error, #login_box #message{
	font-size:12px;
	color:#F00;
}

#login_box #form_error_message{
	margin-bottom:20px;
}

#login_box .field_error{
	clear:both;
	margin-left:90px;
}

.form_field{
	border:#666 solid 1px;
}

.form_field:focus{
	background-color:#F9E9A9;
}
input {height:24px;}
label{font-weight:bolder;
	color:#7F5F00;	
}